// Variables

//colors
$link-color: #cc0000 ;
$link-decoration: #cc0000 ;
$dark-gray: #444444 ;
$light-gray: #666666 ;
$medium-gray: #4d4d4d ;
$very-dark-gray: #595959 ;
$white: #fff ;
$border-color: #e7e7e7 ;
$panel-border: #e4e4e4 ;
$secelct-border: #c7c7c7 ;
$input-border: #dddddd ;
$hover-bg: #f3f3f3 ;
$black: #000 ;
$success-color: #01787a ;

//font-weight
$font-weight-light: 300 ;
$font-weight-normal: 400 ;
$font-weight-bold: 700 ;
$font-weight-base: $font-weight-normal ;
//font-size
$small-font: 11px;
$medium-font: 12px;
$body-font: 13px;
$large: 16px;
$xlarge-font: 18px;

//line-height
$line-height-base: 1.5 ;
$body-color: #212529 ;
$body-bg: $white ;
$headings-margin-bottom: 10px ;
$paragraph-margin-bottom: 1rem ;
//breakpoint
//mobile
$screen-xs-min: 601px;
//mobile
$screen-xs-max: 600px;
//small tablets
$screen-sm-min: 821px;
// tablets
$screen-md-min: 1024px;
// laptop
$screen-lg-min: 1280px;
//desktops
$screen-xl-min: 1440px;

//button-group
$btn-border: #cc0000;
$btn-border-radius: 18px;
