@import "../../../assets/scss/variables.scss";
@import "../../../assets//scss/mixins/breakpoints.scss";

.userNavigation {

    &__nav-list {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            padding: 10px;
            display: flex;
            flex-direction: column;
            font-size: $body-font;
            width: 50px;
            border-left: 1px solid $panel-border;
            text-align: center;
            cursor: pointer;

            svg {
                margin-left: auto;
                margin-right: auto;
                // height: 12px;
                // padding: 5px;
                display: flex;

                g {
                    fill: $dark-gray;
                    justify-content: stretch;
                }
            }
            @include sm {
                padding: 5px;
                width: 40px;
                border-left: none;
            }

            &:last-child {
                background: $link-color;
                color: $panel-border;

                g {
                    fill: $panel-border;
                }
            }

            .cart-bottom-line {
                position: absolute;
                right: 0;
                width: 70px;
                height: 14px;
                background: $link-color;
                border-radius: 5px;
            }

            .cart.modal-toggle-sub-menu {
                position: absolute;
                right: 0;
                background: $white;
                width: 25%;
                z-index: 999999999999;
                margin-top: 10px;
            }

            @include sm {
                .cart-bottom-line {
                    width: 50px;
                    height: 10px;
                }

                .cart.modal-toggle-sub-menu {
                    position: absolute;
                    right: 0;
                    background: $white;
                    width: 100%;
                }
            }

            .help.modal-toggle-sub-menu {
                position: absolute;
                right: 70px;
                background: $hover-bg;
                width: 20%;
                text-align: left;
                z-index: 99999999999999999;
                margin-top: 10px;

            }

            @include sm {
                .help.modal-toggle-sub-menu {
                    right: 0px;
                    width: 100%;
                }
            }



            .singIn.modal-toggle-sub-menu {
                position: absolute;
                right: 140px;
                background: $white;
                width: 25%;
                z-index: 999999999999;
                margin-top: 10px;
            }

            @include sm {
                .singIn.modal-toggle-sub-menu {
                    position: absolute;
                    right: 0px;
                    background: $white;
                    width: 100%;
                }
            }



        }

    }
}

.mobile-navigation__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        // padding: 5px 0px;
        margin-left: 0px;
        cursor: pointer;
        margin-left: 10px;
        font-size: $medium-font;

    }

    ul.mobile-child-list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: 2px 0px;
        }
    }

    .single-toggle-child {
        text-transform: uppercase;

        p span {
            margin-left: 10px;
        }


    }
}





.product-navigation__nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    font-size: $body-font;
    border-bottom: 1px solid $panel-border;

    li {
        margin-right: 10px;
        margin-left: 10px;

        .single-toggle-child {
            p {
                margin-right: 10px;
                margin-left: 10px;

                svg {
                    position: absolute;
                    margin-top: -1px;
                }
            }
        }

    }
}

.product-toggle-sub-menu {
    position: absolute;
    right: 0;
    overflow: inherit;
    align-items: self-start;
    width: 80%;
    padding: 0px 10%;

    &__container {
        // background: $input-border;
        // padding: 0px 10px;
        // height: 70vh;

    }

    .productMegaMenu-wrapper {
        display: flex;

        &__left-sidebar {
            width: 20%;

            li {
                display: flex;
                padding: 8px 10px;
                border-bottom: 1px solid $input-border;
                background: $hover-bg;
                font-size: $medium-font;
                cursor: pointer;
                width: 100%;
            }

            .active {
                background: #fff;
            }

        }

        &__container-link {
            background: #fff;
            width: 77%;
            justify-content: space-around;

            a.close-button {
                text-align: right;
                width: 98%;
                position: relative;
                display: flex;
                flex-direction: column-reverse;
                margin-top: 10px;
                font-size: $medium-font;
                cursor: pointer
            }

            .right-side-mega__sections {
                display: flex;
                justify-content: space-around;

                .category-heading {
                    font-size: $medium-font;
                    font-weight: $font-weight-bold;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        font-size: $medium-font;
                        display: flex;
                        padding: 5px 0px
                    }
                }


            }

        }
    }
}



.single-toggle-child .active {
    color: $link-color;
}

// .modal-toggle-sub-menu {
//     position: absolute;
//     display: flex;
//     flex-direction: unset;
// }

.header-help-wrapper {
    .header-help-wrapper__list {
        border-bottom: 1px solid $panel-border;
        width: 100%;

        a {
            line-height: 40px;
            padding-left: 10px;
            text-decoration: none;
            color: $panel-border;
            color: $dark-gray;

        }
    }
}

.header-login-wrapper {
    background: $hover-bg;
    &__header {
        padding: 1px 15px;
        text-align: left;
        border-bottom: 1px solid $panel-border;
        h3{
            font-size: $large;
        }
    }
}