@import '../../../assets//scss/variables.scss';
@import "../../../assets/scss/mixins/breakpoints.scss";
.header-wrapper {
   
    .main-header {
        @include sm {
           display: none;
        }

        // top header scss
        .topHeaderWrapper {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $panel-border;
            color: $dark-gray;

            &__languageSelect {
                border-right: 1px solid $panel-border;

                select {
                    font-size: $medium-font;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: none;
                    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                    background-repeat: no-repeat;
                    background-position-x: 100%;
                    background-position-y: 0;
                    border: none;
                    padding: 5px 35px 5px 15px;

                    height: 100%;
                }

            }

            &__liveChat {
                border-left: 1px solid $panel-border;
                padding: 5px 15px;
 
                button {
                    font-size: $medium-font;
                    color: $dark-gray;
                    text-decoration: none;
                    background: transparent;
                    border: none;
                
                }
            }
        }

        .headerMiddle {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $panel-border;
            color: $dark-gray;
            // justify-content: center;
            align-items: center;
            
            .logo {
                justify-content: center;
                display: flex;
                flex-direction: column;
                width: 15%;
                padding:0px 10px;
            }

            .link-tour {
                margin: 10px;
                border: 1px solid $panel-border;
                padding: 8px 25px;
                border-radius: 5px;
                font-size: $medium-font;
                width: 100%;
                text-decoration: none;
                color: $dark-gray;
                background: transparent;
                svg {
                    width: 15px;
                    position: relative;
                    margin-right: 10px;
                    top: 4px;
                    color: $btn-border;
                    font-size: 15px;
                    g {
                        fill: $link-color;
                    }
                }

            }

            .link-toner-wrapper {}
        }

    }
    .mobile-header{
        @include min-sm {
            display:none ;
         }
         // top header scss
         .topHeaderWrapper {
             display: flex;
             justify-content: space-between;
             border-bottom: 1px solid $panel-border;
             color: $dark-gray;
 
             &__languageSelect {
                 border-right: 1px solid $panel-border;
 
                 select {
                     font-size: $medium-font;
                     -webkit-appearance: none;
                     -moz-appearance: none;
                     background: none;
                     background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                     background-repeat: no-repeat;
                     background-position-x: 100%;
                     background-position-y: 0;
                     border: none;
                     padding: 5px 35px 5px 15px;
 
                     height: 100%;
                 }
 
             }
 
             &__liveChat {
                 border-left: 1px solid $panel-border;
                 padding: 5px 15px;
 
                 button{
                     font-size: $medium-font;
                     text-decoration: none;
                     text-decoration: none;
                     color: $dark-gray;
                     background: transparent;
                     border: none;
                 
                 }
             }
         }
 
         .headerMiddle {
             display: flex;
             justify-content: space-between;
             border-bottom: 1px solid $panel-border;
             color: $dark-gray;
             align-items: center;
             padding-left: 12px;
            .logo {
                 justify-content: center;
                 display: flex;
                 flex-direction: column;
               }
            @include sm {
               .logo svg {
                  width: 100px;
                  }
             }
             .link-tour {
                 margin: 10px;
                 border: 1px solid $panel-border;
                 padding: 10px 25px;
                 border-radius: 5px;
                 font-size: $medium-font;
                 width: 100%;
                 text-decoration: none;
                 color: $dark-gray;
                 svg {
                     width: 15px;
                     position: relative;
                     margin-right: 10px;
                     top: 1px;
 
                     g {
                         fill: $link-color;
                     }
                 }
 
             }
 
             
         }
         .header-sm-search{
            display: flex;
            border-bottom: 1px solid $panel-border;
            color: $dark-gray;
            align-items: center;
            justify-content: center;
            padding: 10px 0px;
            width: 100%;
          

            .link-tour{
                margin: 10px;
                border: 1px solid $panel-border;
                padding: 10px 25px;
                border-radius: 5px;
                font-size: $medium-font;
                width: 100%;
                text-decoration: none;
                color: $dark-gray;
                background: transparent;
                svg {
                    width: 15px;
                    position: relative;
                    margin-right: 10px;
                    top: 4px;

                    g {
                        fill: $link-color;
                    }
                }

            }
         }
    }

}