@import '../../../../assets/scss/mixins/breakpoints.scss';


.formControl {
  width: 94%;
  height: 16px;
  border: 1px solid $light-gray;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  font-size: $body-font;
  line-height: 1.5;
  &.error {
    border: 1px solid $link-color;
    background: rgba(204, 0, 0, 0.1);
  }
}
.inputFlex {
  display: flex;
  span {
    display: inline-flex;
    padding: 6px 25px;
    margin-left: -8px;
    cursor: pointer;
    background: $dark-gray;
    align-items: center;
    font-size: 18px;
    color: $white;

    @include sm {
      padding: 6px 20px;
    }
    @include sm {
      padding: 6px 10px;
    }
  }
}
.inputWrapper {
  p {
    margin: 0;
  }
}
